<%= turbo_frame_tag note do %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= note.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= note.content %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this note", note, data: {turbo_frame: "_top"}, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this note', edit_note_path(note), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= button_to "Destroy this note", note_path(note), method: :delete, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
<% end %>